.New {
  margin: 50px;
  height: calc(100% - 105px);
  border-bottom: 1px solid #626262;
}

.New .header {
  padding: 70px;
  text-align: center;
  height: unset;
}

.New .header svg {
  font-size: 5em;
  fill: #4eb6ee;
}

.New h2 {
  color: #333333;
}

.New p {
  font-size: 15px;
  font-weight: 500;
  color: #333333;
}
