.Recent {
  height: calc(100% - 100px);
  padding: 50px;
  background-color: white;
}

.Recent .container {
  border-bottom: 1px solid #626262;
  height: 100%;
}

.Recent .header {
  padding-bottom: 10px;
  height: 3%;
}

.Recent .header h5 {
  margin: 0;
  color: #626262;
  text-transform: uppercase;
  font-size: 17px;
}

.Recent .content-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 87%;
  margin-bottom: 1%;
}

.Recent .content-footer {
  display: flex;
  justify-content: center;
  height: 7%;
}

.Recent .custom-table tbody tr td {
  border: none;
}

.Recent .custom-table tbody tr:nth-child(2n+1) {
  background-color: #f8f8f8
}