/*select control*/
.custom-outlined-form-control {

}

.custom-outlined-form-control label.custom-select-label {
  font-size: 15px;
  color: #4eb6ee;
  font-weight: 600;
  transform: translate(0px, -25px) scale(0.9);
  width: 100%;
}

.custom-outlined-form-control label.custom-select-label b {
  color: black;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink.custom-select-label {
  transform: translate(0px, -25px) scale(0.9);
}

.custom-outlined-form-control .custom-select {
}

.custom-outlined-form-control .custom-select > div {
  padding: 14px;
  font-size: 13px;
  color: #626262;
  z-index: 1;
}

.custom-outlined-form-control .custom-select svg {
  color: #4eb6ee;
  z-index: 1;
}

.custom-outlined-form-control .custom-select fieldset {
  border-color: black;
  background: white;
  top: 0;
}

.custom-outlined-form-control.select-empty .custom-select fieldset {
  border: solid 1px red;
}

.custom-outlined-form-control .custom-select .MuiOutlinedInput-notchedOutline {
  border: solid 1px black;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: solid 1px black !important;
}

.custom-outlined-form-control .custom-select fieldset legend {
  display: none;
}

/*textarea control*/
.custom-textarea-control {
  background-color: white;
}

.custom-textarea-control > div {
  height: 100%;
  align-items: start;
}

.custom-textarea-control > label {
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  color: #4eb6ee;
  transform: translate(0px, -25px) scale(0.9);
}

.custom-textarea-control > label.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(0px, -25px) scale(0.9);
  color: #4eb6ee;
}

.custom-textarea-control textarea {
  font-size: 13px;
  color: #626262;
}

.custom-textarea-control.textarea-rtl {
  direction: rtl;
}

.custom-textarea-control textarea::placeholder {
  display: block !important;
}

.custom-textarea-control fieldset {
  border-color: black;
  top: 0;
}

.custom-textarea-control .MuiOutlinedInput-notchedOutline {
  border: solid 1px black !important;
}

.custom-textarea-control fieldset legend {
  display: none;
}
