.custom-date-picker {

}
.custom-date-picker label {
    color: #4eb6ee;
    font-weight: 600;
}
.custom-date-picker label b {
    color: black;
}
.custom-date-picker > div {
    margin-top: 5px;
    width: 100%;
    border: solid 1px black;
    border-radius: 4px;
    padding: 0 10px;
    outline: none;
    background: white;
    display: flex;
    align-items: center;
}
.custom-date-picker > div input {
    border: none;
    padding: 15px 0;
    width: 100%;
    outline: none;
}
.custom-date-picker > div > div {
    position: relative;
    left: 0;
    top: 0;
    margin-left: -262px;
    margin-top: 45px;
}