.main {
  display: flex;
}

/*.main-arabic .Start label,*/
/*.main-arabic .Start span,*/
/*.main-arabic .Start p,*/
/*.main-arabic .Start textarea,*/
/*.main-arabic .Start input*/
/*{*/
  /*direction: rtl;*/
/*}*/

.main .left-container {
  text-align: center;
  background: #efefef;
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main .left-container .top {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.main .left-container .top .left-logo {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main .left-container .top .left-logo img {
  width: 100px;
}

.main .left-container .top .left-logo h3 {
  color: #626262;
  margin: 0;
}

.main .left-container .top .left-menu {
  flex: 7;
}

.main .left-container .bottom {
  flex: 1;
  color: #333;
}

.main .left-menu {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main .left-menu .menu-item {
  display: block;
  flex: 1;
}

.main .left-menu .menu-item a {
  display: block;
  background: #bed7f3;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-decoration: none;
}

.main .left-menu .menu-item a:hover, .main .left-menu .menu-item a.active {
  background: #4eb6ee;
}

.main .left-menu .menu-item a p {
  margin: 0;
  color: white;
}

.main .left-menu .menu-item a svg {
  fill: white;
  font-size: 2em;
}

.main .main-container {
  flex: 2;
}

.main .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}

.main .bottom-logo {
  font-size: 18px;
  font-weight: 500;
}

.main .bottom-logo img {
  width: 23px;
  margin-right: 5px;
}

.main .bottom-copyright {
  font-size: 12px;
  font-weight: 700;
  border-top: 2px solid #9f9f9f;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  padding-top: 4px;
}

.main .main-container {
  border-left: 3px solid #4eb6ee;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main .main-container .top {
  flex: 8 1;
  background: white;
  height: 100vh;
  overflow-y: auto;
}

.main .main-container .bottom {
  flex: 1;
  background-color: #4eb6ee;
  display: flex;
  justify-content: center;
}

.main .main-container .bottom .new-form-button {
  width: 180px;
  border: 1px solid #626262;
  margin-left: auto;
  margin-right: auto;
  color: #626262;
  font-weight: 600;
  background-color: #f2f2f2;
}

.main .main-container .bottom .start-bottom {
  display: flex;
  justify-content: space-between;
}

.main .main-container .bottom .start-bottom .start-bottom-left {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.main .main-container .bottom .start-bottom .start-bottom-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}

.main .main-container .bottom .start-bottom button {
  width: 180px;
  border: 1px solid #626262;
  color: #626262;
}

.main .main-container .bottom .start-bottom .next-button {
  background-color: #f2f2f2;
}

.main .main-container .bottom .start-bottom .prev-button {
  background-color: #f2f2f2;
}

.main .main-container .bottom .start-bottom button.cancel-button {
  background-color: #626262;
  color: white;
}

.main .main-container .bottom .start-bottom button.save-button {
  background-color: #ffffff;
  color: #4eb6ee;
  font-weight: 500;
}