/*table component*/
table.custom-table {
  min-width: 650px;
  border-top: 2px solid #626262;
}

table.custom-table thead tr {
  padding: 10px;
}

table.custom-table thead tr th {
  border-bottom: solid 1px black;
  padding: 10px 0;
  margin: 10px 0;
  font-weight: 600;
  color: #282c34;
  cursor: pointer;
}

table.custom-table thead tr svg {
  min-width: 20px;
}

table.custom-table thead tr th span {
  padding: 5px 15px;
  border-left: solid 1px;
}
table.custom-table thead tr th:first-child span {
  border: none;
}

table.custom-table tbody tr {
  cursor: pointer;
}

table.custom-table span.extra-content {
  color: #4eb6ee;
  font-weight: 600;
}

table.custom-table .table-btn-edit-item .dropdown-item {
  padding: 3px 8px;
}
table.custom-table .table-btn-edit-item .dropdown-item:hover {
  background-color: #eee;
}

.main-arabic table.custom-table thead tr th {
  text-align: right;
}