.custom-month-picker {
  position: relative;
}

.custom-month-picker label {
  color: #4eb6ee;
  font-weight: 600;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
}

.custom-month-picker label b {
  color: black;
}

.custom-month-picker .ryms-container {
  width: 247px;
  position: absolute;
  top: 73px;
}

.custom-month-picker-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 0 13px 0 10px;
  background: white;
  border: solid 1px black;
  border-radius: 5px;
  margin-top: 5px;
}

.custom-month-picker-input.disabled {
  border: solid 1px #b7b7b7;
}

.custom-month-picker-input input {
  padding: 15px 0;
  width: 93%;
  outline: none;
  border: none;
  background-color: white;
}

.custom-month-picker-input.input-empty {
  border-color: red;
}

.custom-month-picker-input .calendar-icon {
  width: 15px;
  height: 15px;
}

.custom-month-picker .ryms-selected_cell {
  background-color: #00adef;
}

.custom-month-picker .ryms-col_mp:hover {
  background-color: #00adef;
  color: white;
}

.custom-month-picker .ryms-selected_date_mp {
  color: #00adef;
}