.custom-multi-select {
  width: 100%;
}

.custom-multi-select .select-label {
  font-size: 15px;
  color: #4eb6ee;
  font-weight: 600;
}

.custom-multi-select .select-label b {
  color: black;
}

.custom-multi-select .select-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px 14px;
  border: solid 1px black;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
  color: #626262;
  margin-top: -47px;
  position: relative;
}

.custom-multi-select .select-heading.select-empty {
  border: solid 1px red;
}

.custom-multi-select .select-body {
  border: solid 1px black;
  border-top: none;
  border-radius: 0 0 4px 4px;
  margin-top: -3px;
  padding: 10px;
  color: #4eb6ee;
  height: 63px;
  font-size: 13px;
}

.custom-multi-select .select-body .select-body-inner {
  overflow-y: scroll;
  height: 100%;
  padding-right: 5px;
}

.custom-multi-select .select-body .select-option {
  padding: 7px 5px;
  border-bottom: solid 1px black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-multi-select .select-body .select-option .icon {
  width: 10px;
}

.custom-multi-select .select-body .select-option:last-child {
  border: none;
}

.select-body-inner::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.select-body-inner::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  background-color: #efefef;
  width: 1px;
}

.select-body-inner::-webkit-scrollbar-thumb {
  background-color: #4eb6ee;
}
