.custom-checkbox-control {

}

.custom-checkbox-control .custom-checkbox-label {
  font-weight: 600;
  color: #4eb6ee;
  font-size: 15px;
}

.custom-checkbox-control .custom-checkbox {
  font-size: 13px;
  margin-top: 5px;
}

.custom-checkbox-control .custom-checkbox span:first-child {
  color: #626262;
}

.custom-checkbox-control .custom-checkbox span:last-child {
  font-size: 13px;
  color: #626262;
}