body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*start page*/
.start-page .header {
  border-bottom: 2px solid #626262;
  padding: 10px;
}
.start-page .header h5 {
  margin: 0;
  color: #626262;
  text-transform: uppercase;
}
.start-page .content {
  display: flex;
  margin: 20px 0 45px;
  justify-content: space-between;
}

.custom-add-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.custom-add-group button {
  margin-top: 39px;
}

.row {
  width: 100%;
}
.col {
  width: 100%;
}
.col-7 {
  width: 70%;
}
.col-6 {
  width: 60%;
}
.col-5 {
  width: 50%;
}
.col-4 {
  width: 40%;
}
.col-3 {
  width: 30%;
}
.col-1 {
  width: 10%;
}
.inline {
  display: flex;
  justify-content: space-between;
}

.mr-15 {
  margin-right: 15px;
}
.ml-15 {
  margin-left: 15px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-26 {
  margin-top: 26px;
}
.mt-39 {
  margin-top: 39px;
}

.w-31 {
  width: 31%;
}
.w-34 {
  width: 34%;
}
.w-69 {
  width: 69%;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.flex-column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}

button.add-button {
  height: 35px;
  background-color: #4eb6ee;
  color: white;
  width: 80px;
}

button.add-button.btn-bg {
  width: 125px;
}


.main-arabic .left-stepper .MuiStepper-vertical .MuiStepLabel-iconContainer {
  padding-right: 6px;
}

.main-arabic .left-stepper .MuiStepConnector-lineVertical {
  margin-right: 15px;
  border-right: solid 1px #bdbdbd;
  border-left: none;
}

.main-arabic .left-stepper .MuiStepper-vertical .MuiStepLabel-labelContainer {
  text-align: right;
  margin-right: 20px;
}

.main-arabic .stepper-container .to-prev {
  border-right: none;
  border-left: solid 1px #707070;
}

.main-arabic .left-stepper {
  padding-right: 50px;
}

.main-arabic ul.MuiMenu-list li {
  direction: rtl;
}

.main-arabic .left-stepper .step-navigator {
  text-align: right;
}

.main-arabic table.custom-table thead tr th span {
  border-right: solid 1px;
  border-left: none;
}

.main-arabic .Recent .custom-table tbody tr td {
  text-align: right;
}

.main-arabic .custom-outlined-form-control .custom-select svg {
  right: unset;
  left: 7px;
}

.main-arabic .custom-date-picker .calendar-icon {
  float: left;
  margin-left: 15px;
}

.main-arabic table.custom-table tbody tr td {
  text-align: right;
}
