.attachment {

}

.attachment label {
  font-size: 15px;
  color: #4eb6ee;
  font-weight: 600;
}

.attachment .dropzone-container {
  border: dashed 1px #777;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 165px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.attachment .dropzone-container .dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  color: #626262;
}

.attachment .dropzone-container .dropzone img {
  width: 50px;
}

.attachment .input-container {
  display: flex;
  justify-content: space-between;
}

.attachment .input-container input {
  outline: none;
  border-radius: 5px;
  padding: 9px;
  border: solid 1px black;
  width: 70%;
}

.BiometricData .custom-textarea-control {
  height: 165px;
}

.file-info .file-name {
  font-weight: 600;
  color: #626262;
}

.file-info .file-path {
  color: #626262;
}

.file-type-icon svg:first-child {
  width: 30px;
  height: 35px;
}

.file-type-icon svg:last-child {
  margin-left: -9px;
  border-radius: 50%;
  padding: 2px;
  width: 8px;
  height: 8px;
}